.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-facebook__icon {
	font-size:(37.5/10)*1rem;
	width:(37.5/37.5)*1em;
}
.icon-github__icon {
	font-size:(37.5/10)*1rem;
	width:(37.5/37.5)*1em;
}
