@import 'settings';

/* fonts */
$main-font-r: 'RobotoRegular', sans-serif;
$main-font-l: 'RobotoLight', sans-serif;
$main-font-m: 'RobotoMedium', sans-serif;
$logo-font: 'ProximaNovaBold', sans-serif;
$button-font: 'MontserratRegular', sans-serif;
$serif-font: 'MerriweatherLight', serif;
/*width */

/* colors */


// preloader
.preloader {}
